{{ partial "header.html" . }}

<main class="content" role="main">

  <div class="books">
    <h2>Currently reading</h2>
    {{ $reading := where (where .Site.RegularPages "Section" "book") "Params.status" "reading" }}
    {{ $readingLen := (len $reading) }}
    {{ range $index, $page := $reading }}
      {{ $i := add $index 1 }}
      {{ if modBool $index 2 }}
      <div class="row">
      {{ end }}
        <div class="column">
          {{ partial "books/card.html" . }}
        </div>
      {{ if or (modBool $i 2) (eq $i $readingLen) }}
      </div>
      {{ end }}
    {{ end }}

    <h2>Finished</h2>
    {{ $finished :=  where (where .Site.RegularPages "Section" "book") "Params.status" "finished" }}
    {{ $finishedLen := (len $finished) }}
    {{ range $index, $page := $finished }}
      {{ $i := add $index 1 }}
      {{ if modBool $index 2 }}
      <div class="row">
      {{ end }}
        <div class="column">
          {{ partial "books/card.html" . }}
        </div>
      {{ if or (modBool $i 2) (eq $i $finishedLen) }}
      </div>
      {{ end }}
    {{ end }}

    <h2>Queued</h2>
    {{ $queued := where (where .Site.RegularPages "Section" "book") "Params.status" "queued" }}
    {{ $queuedLen := (len $queued) }}
    {{ range $index, $page := $queued }}
      {{ $i := add $index 1 }}
      {{ if modBool $index 2 }}
      <div class="row">
      {{ end }}
        <div class="column">
          {{ partial "books/card.html" . }}
        </div>
      {{ if or (modBool $i 2) (eq $i $queuedLen) }}
      </div>
      {{ end }}
    {{ end }}


  </div>

</main>

{{ partial "footer.html" . }}
