<article class="book-card">
  <div class="cover">
    {{ if ne .Params.status "queued" }}
    <a href="{{ .Permalink }}">
      <img src="{{ .Params.cover }}" />
    </a>
    {{ else }}
      <img src="{{ .Params.cover }}" />
    {{ end }}
  </div>
  <div class="description">
    {{ if ne .Params.status "queued" }}
    <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ else }}
    <span class="title">{{ .Title }}</span>
    {{ end }}
    <span>{{ .Params.gist }}</span>
  </div>
</article>
