.content {
  max-width: 900px;
}

code {
  max-width: 100%;
  overflow: auto;
  display: initial;
}

pre,
pre code {
  max-width: 100%;
  overflow: auto;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.books {
}

.books .book-card {
  display: flex;
}

.books .book-card .cover {
  margin-right: 2rem;
}

.books .book-card .cover img {
  max-width: 150px;
}

.books .book-card .description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.books .book-card .description .title {
  text-decoration: none;
  color: black;
}

blockquote {
  border-left: 10px solid #CBF8DF;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #CBF8DF;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
